.footer {
  margin-top: 5rem;
  padding-top: 5rem;
  background-color: var(--darkBlue);
  max-width: 375px;

  /* Medium */
  @media screen and(min-width: 376px) {
    max-width: 960px;
  }
  @media screen and(min-width: 961px) {
    max-width: 100%;
  }
  .content {
    margin: var(--mobileMargin);
    /* Desktop */
    @media screen and(min-width: 961px) {
      margin: var(--desktopMargin);
    }
    .list {
      /* Layout */
      display: grid;
      place-items: center;
      /* Desktop */
      @media screen and(min-width: 961px) {
        grid-template-columns: repeat(auto-fit, minmax(270px, auto));
        grid-gap: 1rem;
      }
      .icons {
        display: grid;

        .logo-container {
          display: grid;
          place-items: center;
          padding: 10px;
          img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
              brightness(102%) contrast(102%);
          }
        }
        .social-media {
          margin-top: 1.5rem;
          display: flex;
          a {
            img {
              padding: 10px;
              color: var(--lightGrayishBlue);
            }
          }
        }
      }

      .menu {
        margin-top: 1.5rem;
        display: grid;
        place-items: center;
        /* Medium */
        @media screen and(min-width: 376px) {
          grid-template-columns: repeat(2, 1fr);
          margin: 1rem 2rem 0 2rem;
          grid-gap: 1rem;

          place-items: unset;
          text-align: center;
        }
        /* Desktop */
        @media screen and(min-width: 961px) {
          grid-template-columns: repeat(2, 1fr);
          margin: 0 2rem 0 2rem;
          grid-gap: 1rem;

          place-items: unset;
          text-align: start;
        }
        li {
          a {
            color: var(--lightGrayishBlue);
            line-height: 40px;
            &:hover {
              color: var(--lineGreen);
              transition: var(--transition);
            }
            /* Desktop */
            @media screen and(min-width: 961px) {
              line-height: 20px;
            }
          }
        }
      }

      .action {
        display: grid;
        place-items: center;
        margin-bottom: 1rem;
        text-align: center;
        button {
          margin: 1.5rem 0 1.2rem 0;
        }
      }
    }

    hr {
      height: 1px;
      opacity: 0.1;
      margin-top: 1rem;
    }
    .attribution {
      margin: 1rem 0 1rem 0;
      display: flex;
      text-align: center;
      justify-content: center;
      width: 100%;
      font-size: 11px;
      text-align: center;
      a {
        color: hsl(228, 45%, 44%);
      }
    }
  }
}
